#app {
  height: 100vh;
}

/* 给 body 设定 assets/mbg.png 为背景，自适应 */
@media screen and (max-width: 768px) {
  body {
    /* background-image: url(assets/bg.png); */
    /* 搓个动画，5s一次，循环，让背景左右飘200px */
    animation: bg 60s linear infinite;
  }
}
@keyframes bg {
  0% {
    background-position: 0 10%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media screen and (min-width: 768px) {
  body {
    /* background-image: url(assets/dbg.png); */
  }
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

.n-layout-scroll-container {
  background: rgba(240, 255, 255, 0);
  width: 100%;
}
.n-layout.n-layout--static-positioned {
  background: rgba(240, 255, 255, 0);
}
.n-notification {
  backdrop-filter: blur(22px) !important;
  background: #f0f8ff4f !important;
}